<!DOCTYPE html>
<html lang="en">
   <head>
       <title>Custom Digify Certificate</title>
   </head>
   <body style="background-color:#EEF3FA">
      <img src="<%=certUrl%>" alt="" style="width:100%;height:1000px;position:absolute;z-index:-1"/>
      <div style="width:100%;height:1000px;text-align:center" class="cert">
           <div style="min-width:50%;margin-top:<%=position%>px; padding:1em;z-index:1000000000;
              text-align:center;display:inline-block">
                <i style="font-size:<%=fontSize%>; color:<%=color%>"><b><%=firstname%> <%=lastname%></b></i>
           </div>
      </div>
   </body>
</html>
